// Specific CSS for your home-page

.carousel-control-prev-icon {
height: 4rem;
width: 4rem;
margin-right: 130px;
opacity: 1;
}

.carousel-control-next-icon {
  height: 4rem;
  width: 4rem;
  margin-left: 130px;
  opacity: 1;
  }
