body {
  color: greenyellow;
}

h2 {
  font-size: 40px;
  color: greenyellow;
  text-align: center;
}

.button-form {
  background-color: greenyellow;
  color:#000000;

}

a {
  text-decoration: none;
  color: #ffffff;
}
