<div class="footer">
  <p class="fw-bold text-black">Made by Unite Games <i class="fas fa-heart"></i></p>
  <div class="footer-links">
    <a href="https://pbs.twimg.com/profile_images/1643667108461412365/9nUoGvqY_400x400.jpg"><i class="fab fa-github"></i></a>
    <a href="https://pbs.twimg.com/profile_images/1643667108461412365/9nUoGvqY_400x400.jpg"><i class="fab fa-instagram"></i></a>
    <a href="https://pbs.twimg.com/profile_images/1643667108461412365/9nUoGvqY_400x400.jpg"><i class="fab fa-facebook"></i></a>
    <a href="https://pbs.twimg.com/profile_images/1643667108461412365/9nUoGvqY_400x400.jpg"><i class="fab fa-twitter"></i></a>
    <a href="https://pbs.twimg.com/profile_images/1643667108461412365/9nUoGvqY_400x400.jpg"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
  <div class="company mt-3">
    <ul class="list-company">
      Company
      <li><%= link_to "About", about_path ,  class: "link-offset-2 link-underline link-underline-opacity-0 item-list" %></li>
      <li><%= link_to "Team", "https://github.com/unite-games", class: "link-offset-2 link-underline link-underline-opacity-0 item-list" %></li>
    </ul>
  </div>

    <div class="company mt-3">
    <ul class="list-company">
      Community
      <li><%= link_to "Developers", "https://github.com/unite-games", class: "link-offset-2 link-underline link-underline-opacity-0 item-list" %></li>
      <li class="item-list"><%= link_to "Blog", "https://pbs.twimg.com/profile_images/1643667108461412365/9nUoGvqY_400x400.jpg", class: "link-offset-2 link-underline link-underline-opacity-0 item-list" %></li>
    </ul>
  </div>
</div>
