<div class="games d-flex align-content-start flex-wrap justify-content-evenly">
  <% @games.each do |game| %>
    <div class="card-trip">
      <img src="https://img.game.co.uk/merch2022/Sony/SonyPScategory-CatM.jpg" class="card-img-top" alt="Game Image"/>
      <div class="card-trip-infos">
        <div>
          <h2><%= game.title %></h2>
          <p><%= game.category %></p>
        </div>
        <h2 class="card-trip-pricing">£<%= game.price %></h2>
        <%= link_to "GO", game_path(game), class: "button-custom" %>
      </div>
    </div>
  <% end %>
</div>
