  <div class="col-sm-8 my-3">
    <%= form_with url: root_path(anchor: "homecards"), method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "button-custom" %>
    <% end %>
  </div>
