<div class="d-flex justify-content-center">
  <div class="banner" >
    <div class="container p-5">
      <h1>Unite Games<strong> Expertise em todas as principais plataformas de jogos, incluindo consoles e PCs</strong> para <strong>Comunidade de Jogadores</strong>!</h1><br>
      <p>Bem-vindo ao Unite Games, seu destino número um para todos os jogos! Fundado por três entusiastas de games, Felipe Imbimbo, Guilherme Botelho e Ricardo Rodrigues, nosso objetivo é trazer os melhores e mais recentes jogos para todos os consoles e PC, proporcionando uma experiência de compra única e personalizada. Aqui no Unite Games, entendemos a paixão e o entusiasmo que os jogos podem trazer. Por isso, nos dedicamos a oferecer uma vasta seleção de títulos, desde os lançamentos mais aguardados até os clássicos atemporais. Seja você um fã de jogos de ação, aventura, RPG, esportes ou qualquer outro gênero, temos algo especial para você.</p>
      <p class="mb-4"> Nossa missão é garantir que cada jogador encontre exatamente o que procura, com a conveniência de uma loja online e o suporte de uma equipe que realmente entende de games. Nós nos esforçamos para manter nossos preços competitivos e nosso estoque sempre atualizado, garantindo que você tenha acesso aos melhores jogos no momento em que são lançados. Felipe, Guilherme e Ricardo trouxeram suas visões e experiências únicas para criar uma plataforma onde a comunidade gamer possa se reunir, explorar novos jogos e compartilhar suas paixões. Junte-se a nós nessa jornada épica e descubra seu próximo jogo favorito hoje mesmo!</p>
      <%= link_to "BACK", root_path, class: "button-custom"%>
    </div>
  </div>
<%= image_tag 'dhalsim-01-1280x1024-1.webp', class: "d-block w-50 about-img"%>
</div>
