<div class="container bg-black">

  <div class="text-center mt-3">
    <%= render "carousel" %>
  </div>
    <div>
      <h2 class="text-white">Best Sellers</h2>
      <%= render "card"%>
  </div>




  <h2>Bargains</h2>
</div>
<%= render "footer"%>
