<div class="container background_home">

    <%= render "carousel" unless params[:query].present? %>
    <div class="container py-5">
      <div class="row d-flex align-items-center mb-3">
        <div class="col text-left">
          <h2 class="m-0 text-white">Games</h2>
        </div>
        <div class="col d-flex justify-content-end">
          <%= render "search_bar" %>
        </div>
      </div>
      <%= render "card"%>
  </div>
</div>
