<div class="container bg-black">

  <div class="d-flex flex-column justify-content-center ">
    <h1 class="text-white fw-bold">BUY NOW!</h1>
    <p class="text-white">Check our new offers and best prices</p>
    </div>
    <div>
      <h2 class="text-white">Best Sellers</h2>
      <%= render "card"%>
  </div>




  <h2>Bargains</h2>
</div>
<%= render "navbar"%>
