<div class="container background_home">

  <div class="text-center py-3">
    <%= render "carousel" %>
  </div>
    <div>
      <h2 class="text-white">Best Sellers</h2>
      <%= render "card"%>
  </div>




</div>
