.card-game {
  overflow: hidden;
  background: #000000;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width:275px;
  margin: 20px 20px;
  border-radius: 5px;
  }
.card-game:hover{
  transform:scale(1.1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 2px 20px 0px #528205;
}

.card-game > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-game h2 {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
}

.card-game p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

#price {
  color: greenyellow;
  font-size: 20px;
}


.card-game .card-game-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: relative;
}

.card-game-infos .card-game-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
